html, body {
  margin: 0;
  padding: 0;
  background-color: #212529;
  font-family: 'Nunito', sans-serif;
}

.App {
  padding: 20px;
}

.btn-container {
  margin-bottom: 15px;
}

button {
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
}

.google-sign-in {
  border: none;
  border-radius: 8px;
  padding: 9px 10px 9px 39px;
  background: rgba(255, 255, 255, 0.9) url("src/assets/img/google-icon-32.png") no-repeat 10px center/23px;
  transition-duration: 250ms;
}

.google-sign-in:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

h1 {
  color: rgba(255, 255, 255, 0.9);
}

.logout-btn {
  border: 1px solid #EC7063;
  border-radius: 6px;
  padding: 6px 10px;
  background-color: transparent;
  color: #ec7063;
  transition-duration: 250ms;
}

.logout-btn:hover {
  background-color: #ec7063;
  color: rgba(0, 0, 0, 0.9);
}
